<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-margin-top">
    <ion-col size="12">
      <ion-item lines="none">
        <ion-img
        alt="rhino standing near grass"
        src="https://media.istockphoto.com/id/1400073528/es/vector/herramientas-de-trabajo-para-electricistas-y-servicio-el%C3%A9ctrico.jpg?s=2048x2048&w=is&k=20&c=1Ug14didUHlgc1DnzLUeu_3s1JSPY6jHtpY4gFzH7kA="
      ></ion-img>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item lines="none">
        <ion-col size="8">
          <h4 class="home-subtitle">              
            Categorías
          </h4>
        </ion-col>
        <!-- <ion-col size="4" class="ion-text-right">
          <h5 class="subtitle-view-all">
            <a href="">Ver todos</a>
          </h5>
        </ion-col> -->
      </ion-item>
    </ion-col>       
  </ion-row>

  <ion-row *ngIf="loaded">
    <ion-col size="4" *ngFor="let item of worker_categories;">
      <ion-item [routerLink]="'h-categorie-single/' + item.id" button lines="none" detail="false">          
        <ion-label>
          <ion-thumbnail class="ion-margin-bottom home-categorie-item">
            <img alt="Silhouette of mountains" src="{{ item.picture }}" />
          </ion-thumbnail>
          <h4 class="ion-text-center">
            {{ item.name }}
          </h4>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>  

  <ion-row *ngIf="!loaded">
    <ion-col size="4" *ngFor="let item of jobs_categories;">
      <ion-item lines="none" detail="false">          
        <ion-label>
          <ion-thumbnail class="ion-margin-bottom">
            <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
          </ion-thumbnail>
          <h4 class="ion-text-center">
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h4>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>   
</ion-content>
