ion-card {
    margin: 16px;
}

ion-item {
    --background: #f8f8f8;
    margin-bottom: 12px;
}

ion-icon {
    color: #3880ff;
}

ion-avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}