<ion-header>
  <ion-toolbar>
    <ion-title>Servicios Ofrecidos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addService()">Agregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let service of services" (click)="viewServiceDetails(service)">
      <ion-label>
        <h2>{{ service.name }}</h2>
        <p>Tarifa: ${{ service.rate }}</p>
        <p>Disponibilidad: {{ service.availability }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="editService(service)">Editar</ion-button>
        <ion-button color="danger" (click)="deleteService(service)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>