.profile-content {
    &-info {
        padding-top: 15px;
        ion-avatar {
            margin: 0 auto;
            display: block;
            width: 70px;
            height: 70px;
            // font-size: 60px;
            color: #8c8c8c;
        }

        &-username {
            font-weight: bold;
            font-size: 25px;
        }

        &-email {
            font-size: 15px;
        }
    }
}

.profile-items {
    ion-item {
        // margin: 10px 0;
        // padding: 10px 0;
        // border-radius: 10px;
        // box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
        // .item-inner {
        //     border-style: none !important;
        // }
    }
}