<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="worker/job-request"></ion-back-button>
    </ion-buttons>
    <ion-title>Conversaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="openChat(chat.id)">
      <ion-avatar slot="start">
        <img [src]="chat.profilePicture" alt="Profile Picture">
      </ion-avatar>
      <ion-label>
        <h2>{{ chat.profileName }}</h2>
        <p>{{ chat.lastMessage }}</p>
        <ion-note>{{ chat.lastMessageTimestamp.toMillis() | date:'yyyy/MM/dd h:mm:ss a' }}</ion-note>
      </ion-label>
      <ion-badge *ngIf="chat.isUnread" color="danger">{{ chat.unreadCount }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>