.cost-for-hour {
    font-size: 15px;
    span {
        font-weight: bold;
    }
}

.divisor-line {
    width: 100%;
    height: 1px;
    background-color: #dadada;
    margin: 30px auto 20px;
}

.person-service-title{
    font-weight:700;    
    font-size: 17px;
    color: #000;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}