<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="worker/job-request"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de la Solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ current_worker_activity?.client_name }}</ion-card-title>
      <ion-card-subtitle>{{ current_worker_activity?.title }}</ion-card-subtitle>      
    </ion-card-header>
    <ion-card-content>
      <ion-badge (click)="presentActionSheet(current_worker_activity)"
            color="{{ get_state_color(current_worker_activity?.status) }}">{{
            get_state_name(current_worker_activity?.status) }}</ion-badge>
      <p><strong>Fecha de servicio:</strong> {{ current_worker_activity?.date_services.toMillis() | date:'yyyy/MM/dd h:mm:ss a' }}</p>
      <p><strong>Descripción:</strong> {{ current_worker_activity?.detail }}</p>
      <p><strong>Dirección:</strong> {{ current_worker_activity?.location }}</p>
      <p><strong>Tarifa Ofrecida:</strong> GTQ{{ current_worker_activity?.cost }}</p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-button *ngIf="current_worker_activity?.status == 0" expand="full" color="success" (click)="acceptRequest()">Aceptar Solicitud</ion-button>
  <ion-button *ngIf="current_worker_activity?.status == 0" expand="full" color="danger" (click)="rejectRequest()">Rechazar Solicitud</ion-button> -->
</ion-content>