<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="client/activity"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de actividad</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row class="activity-content-info">
    <!-- <ion-col size="12">
      <ion-icon name="person-circle"></ion-icon>              
    </ion-col> 
    <ion-col size="12" class="ion-text-center">
      <div>
        <ion-label class="activity-content-info-name">Jorge Emanuel</ion-label>
      </div>
      <div>
        <ion-label class="activity-content-info-category">Servicio de electricidad {{ current_activity_id }}</ion-label>
      </div>
    </ion-col>       -->
    <ion-col size="12" class="ion-text-left">
      <ion-item lines="none">
        <ion-label>
          <h3 class="activity-title">{{ current_client_activity?.title }}</h3>
          <!-- <ion-badge color="secondary">Completado</ion-badge> -->
          <ion-badge (click)="presentActionSheet(current_client_activity)"
            color="{{ get_state_color(current_client_activity?.status) }}">{{
            get_state_name(current_client_activity?.status) }}</ion-badge>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="{{ current_client_activity?.worker_picture }}" />
      </ion-thumbnail>
      <ion-label>{{ current_client_activity?.worker_name }}</ion-label>
    </ion-item>
  </ion-row>
  <ion-row class="ion-padding-start">
    <ion-col size="12" class="ion-margin-top">
      <ion-text class="acitivty-text">{{ current_client_activity?.date_services.toMillis() | date:'yyyy/MM/dd h:mm:ss a'
        }}</ion-text>
    </ion-col>
    <ion-col size="12">
      <ion-text class="acitivty-text">GTQ{{ current_client_activity?.cost }}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-list lines="none">
        <ion-item>
          <ion-label>
            <h5 class="activity-subtitle">
              Dirección
            </h5>
            <p>
              <ion-icon slot="start" name="location-outline"></ion-icon>
              {{ current_client_activity?.location }}
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5 class="activity-subtitle">
              Descripción
            </h5>
            <p>
              {{ current_client_activity?.detail }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button *ngIf="current_client_activity?.status == 0" expand="full" color="success"
        (click)="acceptRequest()">Aceptar Solicitud</ion-button>
      <ion-button *ngIf="current_client_activity?.status == 0" expand="full" color="danger"
        (click)="rejectRequest()">Rechazar Solicitud</ion-button>
    </ion-col>
  </ion-row>
</ion-content>